.month-year{
    margin-left: 40%;
}
.input-select{
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
}
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 200px;
}
.add-features-enable{
    margin-left: 120px;
    margin-bottom: 10px;
}
.add-features-disables{
    margin-left: 130px;
    margin-bottom: 10px;
}
.enableData{
    width: 50%;
    margin: 7px;
}
.diableData{
    width: 50%;
    margin: 7px;
}
@media screen and (max-width:767px) {
    .add-features-disables{
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .add-features-enable{
        margin-left: 0px;
        margin-bottom: 10px;
    }
}